*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #333;
}
h1 {
    text-align: center;
    padding: 25px 0;
    color: #f1f1f1;
}
.recherche-poke {
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;
}
.inp-group {
    width: 100%;
}
.recherche-poke input {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
}

.recherche-poke label {
    position: absolute;
    color: #333;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.3s ease-in;
}

.recherche-poke button {
    margin-left: 5px;
    padding: 15px;
}

/* animation d'input */
/* Le label viendra s'animer à la fois quand on fera le focus dessus en CSS, mais aussi quand on sera en train d'écrire dans l'input */
.recherche-poke:focus-within label,
.recherche-poke.active-input label {
    top: -15px;
    padding-left: 5px;
    color: #f1f1f1;
}


/* Liste des cartes */

.container {
    width: 70%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.liste-poke li {
    width: 250px;
    height: auto;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.liste-poke h5 {
    font-size: 19px;
}
.liste-poke p {
    font-size: 18px;
}

/* Anim loader */

.loader {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f1f1f1;
    animation: monte 0.3s alternate infinite;
}
.point:nth-child(1) {
    animation-delay: 0.1s;
}
.point:nth-child(2) {
    animation-delay: 0.2s;
}
.point:nth-child(3) {
    animation-delay: 0.3s;
}
@keyframes monte {
    100% {
        transform: translateY(-30px);
    }
}